@import "~bootstrap/scss/bootstrap";

.modal {
  display: block;
  background-color: #0000005f;
}

.line__content {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  min-height: 200px;
  & .line__content__info {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  & .line__content__savivaldybe {
    display: flex;
    width: 100%;
    & .line__image {
      width: auto;
      height: 60px;
      contain: content;
    }
    & .savivaldybe_title {
      margin-left: 15px;
    }
  }
  & .line__content__post {
    border: dotted 2px orange;
    width: 100%;
    padding: 0 15px 15px 15px;
  }
}

.img-bin {
  margin: 10px;
  display: flex;
  flex-direction: column;
  & img {
    width: 150px;
    height: auto;
    display: block;
  }
}

.click-link {
  cursor: pointer;
  & :hover {
    color: orange;
  }
}

.reset-filter {
  width: 200px;
  margin: 5px;
  margin-top: 10px;
  padding: 2px 5px;
  border: 1px solid darkgreen;
  color: darkgreen;
  text-transform: capitalize;
  text-align: center;
}

.reset-filter:hover {
  color: white;
  background-color: darkgreen;
  border: 1px solid white;
}

.no-image {
  margin-top: 10px;
  color: grey;
  border: solid 1px grey;
  padding: 3px 5px;
}

.btn__box {
  & > * {
    margin-left: 5px;
  }
}

.msg-bin {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  .toast {
    display: block;
    margin: 10px;
  }
}

.comment-id {
  font-weight: 400;
  font-size: 20px;
}

.comment-details {
  color: purple;
  font-size: 18px;
  line-height: 24px;
}

.comment-post {
  border: dotted 2px orange;
  width: 100%;
  padding: 0 15px 15px 15px;
  margin: 10px 5px;
}

.comment-status {
  margin: 5px;
}

.navbar-brand {
  cursor: pointer;
}
