@import "~bootstrap/scss/bootstrap";

.modal {
  display: block;
  background-color: #0000005f;
}

.line__content {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  min-height: 200px;
  & .line__content__image {
    min-width: 200px;
  }
}

.img-bin {
  margin: 10px;
  display: flex;
  flex-direction: column;
  & img {
    width: 150px;
    height: auto;
    display: block;
  }
}

.click-link {
  cursor: pointer;
}

.no-image {
  margin-top: 10px;
  color: grey;
  border: solid 1px grey;
  padding: 3px 5px;
}

.msg-bin {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  .toast {
    display: block;
    margin: 10px;
  }
}
